

.indent {
    padding-left: 3em;
}
button.link {
    background:none;border:none; 
}

.bar {
    width: 100%;
    height: .05em;
    background-color: grey;
    vertical-align: middle;    
    display: inline-block;
}